<a href="https://colab.research.google.com/github/karolbgoes/Challenge_Alura_Cash/blob/main/Notebooks/primeira_analise_alura_cash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
base = 'https://raw.githubusercontent.com/tarik-pomim/challenge_dados_082022/main/dados.csv'

In [7]:
dataset = pd.read_csv (base)

In [8]:
## An√°lises Preliminares

In [9]:
dataset.sample (100)

,person_id,loan_id,cb_id,person_id.1,person_age,person_income,person_home_ownership,person_emp_length,loan_id.1,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_id.1,cb_person_default_on_file,cb_person_cred_hist_length
4217,eGR7C5uA-KEkz,XbTmU6Lj-NvY3,Jkj359OL-oKDt,eGR7C5uA-KEkz,23.0,75000.0,Rent,2.0,XbTmU6Lj-NvY3,Personal,C,12000.0,12.98,0.0,0.16,Jkj359OL-oKDt,Y,2.0
34109,t6jRBzNT-E93E,O7siqvJJ-PIiy,L4ZE98ya-Gz6g,t6jRBzNT-E93E,22.0,60000.0,Mortgage,6.0,O7siqvJJ-PIiy,Education,B,16800.0,11.99,0.0,0.28,L4ZE98ya-Gz6g,N,3.0
4278,5OuuBl9g-LAGr,XDwkipP0-QIJb,CK79IdGO-XNOD,5OuuBl9g-LAGr,24.0,59964.0,Mortgage,0.0,XDwkipP0-QIJb,Debtconsolidation,B,1275.0,10.99,1.0,0.02,CK79IdGO-XNOD,N,4.0
7358,dHZnEGRc-SNpk,rD3oI10A-Bt2j,ubHDSLtu-91Go,dHZnEGRc-SNpk,28.0,78000.0,Rent,5.0,rD3oI10A-Bt2j,Homeimprovement,B,20000.0,11.48,0.0,0.26,ubHDSLtu-91Go,N,5.0
31239,pTeCNkMN-NhfG,shrUHQJa-SZHd,uWsTxaTU-1M3H,pTeCNkMN-NhfG,23.0,96000.0,Other,3.0,shrUHQJa-SZHd,Education,E,12000.0,NaN,0.0,0.13,uWsTxaTU-1M3H,Y,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,zNNB28ty-Ab1Y,ZjisXyD4-bwRD,1KHpytBF-Zs49,zNNB28ty-Ab1Y,21.0,11389.0,Other,5.0,ZjisXyD4-bwRD,Education,C,4000.0,12.84,1.0,0.35,1KHpytBF-Zs49,Y,2.0
17789,ZwxvYG6X-yTZq,tujKkoao-Cf4t,tbyKmMmf-YcYw,ZwxvYG6X-yTZq,27.0,32220.0,Rent,11.0,tujKkoao-Cf4t,Medical,B,17725.0,11.49,1.0,0.55,tbyKmMmf-YcYw,N,7.0
5615,DIWC2G46-8vbx,OuTXoAxJ-h7ki,ty5yUjlm-izCJ,DIWC2G46-8vbx,24.0,43400.0,Rent,2.0,OuTXoAxJ-h7ki,Debtconsolidation,E,18000.0,16.63,1.0,0.41,ty5yUjlm-izCJ,Y,2.0
14362,HRXbgMBe-dW6t,Edi2tPGT-bMAf,q9A4l7ru-Qqjn,HRXbgMBe-dW6t,23.0,38667.0,Mortgage,2.0,Edi2tPGT-bMAf,Medical,C,4800.0,11.91,0.0,0.12,q9A4l7ru-Qqjn,N,4.0
26358,jcqEz21X-Ptsh,homcQcOD-D3At,FDRTnRLm-dEeO,jcqEz21X-Ptsh,22.0,71400.0,Mortgage,2.0,homcQcOD-D3At,Medical,D,15000.0,14.96,1.0,0.18,FDRTnRLm-dEeO,Y,3.0

In [10]:
dataset.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34501 entries, 0 to 34500
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_id                   34485 non-null  object
 1   loan_id                     34501 non-null  object
 2   cb_id                       34501 non-null  object
 3   person_id.1                 34485 non-null  object
 4   person_age                  34177 non-null  float64
 5   person_income               34162 non-null  float64
 6   person_home_ownership       34170 non-null  object
 7   person_emp_length           33247 non-null  float64
 8   loan_id.1                   34501 non-null  object
 9   loan_intent                 34186 non-null  object
 10  loan_grade                  34188 non-null  object
 11  loan_amnt                   34170 non-null  float64
 12  loan_int_rate               30871 non-null  float64
 13  loan_status                 34158 non-null  float64
 14  loan_percent_income         34182 non-null  float64
 15  cb_id.1                     34501 non-null  object
 16  cb_person_default_on_file   34131 non-null  object
 17  cb_person_cred_hist_length  34497 non-null  float64
dtypes: float64(8), object(10)
memory usage: 4.7+ MB

In [13]:
#Traduzindo as colunas para portugu√™s

In [15]:
colunas_portugues = {
    'person_id' : 'id_solicitante',
    'loan_id' : 'id_emprestimo',
    'cb_id' : 'id_historico',
    'person_age' : 'idade',
    'person_income' : 'salario_anual',
    'person_home_ownership' : 'situacao_imovel',
    'person_emp_length' : 'anos_empregado',
    'loan_intent' : 'motivo_emprestimo',
    'loan_grade' : 'pontuacao_emprestimo',
    'loan_amnt' : 'total_a_emprestar',
    'loan_int_rate' : 'juros',
    'loan_status' : 'possibilidade_inadimplencia',
    'loan_percent_income' : 'percentual_emprestimo_renda',
    'cb_person_default_on_file' : 'ja_foi_inadimplente',
    'cb_person_cred_hist_length' : 'anos_de_credito'
}

dataset.rename(mapper = colunas_portugues, axis = 1, inplace = True)

In [18]:
dataset.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34501 entries, 0 to 34500
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id_solicitante               34485 non-null  object
 1   id_emprestimo                34501 non-null  object
 2   id_historico                 34501 non-null  object
 3   person_id.1                  34485 non-null  object
 4   idade                        34177 non-null  float64
 5   salario_anual                34162 non-null  float64
 6   situacao_imovel              34170 non-null  object
 7   anos_empregado               33247 non-null  float64
 8   loan_id.1                    34501 non-null  object
 9   motivo_emprestimo            34186 non-null  object
 10  pontuacao_emprestimo         34188 non-null  object
 11  total_a_emprestar            34170 non-null  float64
 12  juros                        30871 non-null  float64
 13  possibilidade_inadimplencia  34158 non-null  float64
 14  percentual_emprestimo_renda  34182 non-null  float64
 15  cb_id.1                      34501 non-null  object
 16  ja_foi_inadimplente          34131 non-null  object
 17  anos_de_credito              34497 non-null  float64
dtypes: float64(8), object(10)
memory usage: 4.7+ MB